<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each posts}}
        <li class="list-group-item">
          <div class="lead"><a href="/posts/{{this.id}}">{{this.title}}</a></div>
          <a href="{{this.summary}}" target="_blank">{{this.id}}</a>
          <p>{{this.summary}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>